body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  font-size: 35px;
  color: #000;
}
